@model makeup1.ViewModels.CategorieViewModel

@{
    ViewBag.Title = "CategorieList";
}

<h2>CategorieList</h2>

<div class="categories">
    @* hér vil ég setja inn linka fyrir categoriur*@
    <a href="/Categorie/index">Kvoldfordun</a>
</div>

