@model makeup1.ViewModels.CategorieViewModel

@{
    ViewBag.Title = "CategorieList";
}

<h2>CategorieList</h2>

<div class="categories">
    @Html.ActionLink("Kvoldfordun", "Categorie", new { })
    @Html.ActionLink("Dagfordun", "Categorie", new { })
    @Html.ActionLink("Fardi", "Categorie", new { })

</div>

