@model makeup1.ViewModels.CategorieViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="categories">
    @Html.ActionLink("Kvöldförðun", "EveningMakeup", new {  })</br>
    @Html.ActionLink("Dagsförðun", "DayMakeup", new { })</br>
    @Html.ActionLink("Snyrtivörur", "MakeupProduct", new { })</br>
</div>
