@model makeup1.ViewModels.NewsFeedViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Photos</h2>

<div>
    @foreach (var p in Model.photo)
    {
       <div class="myprofile">

         <div class="displaypic">
            <img src="@Url.Content(p.photoUrl)" alt="IMAGES" />
         </div>
        
        <div class="displaytext">
            <p class="text">@p.Caption</p>
        </div>

       </div>
    }
</div>